# For Vim users:
*.swp
*.swo

# For Emacs users:
*~
*#

# For VSCode users
*.vscode

# General:
*.zip

# Convention for old files held temporarily in local filesystem:
*.old
junk

# Ignore this Ruby bundler config
/tools/se_open_data/.bundle/

# Cached data should be written here (or checked out from a store)
/caches/

# data/co-ops-uk/2015-06/Makefile creates a directory for output:
data/co-ops-uk/2015-06/generated-data

# data/co-ops-uk/2016-06/Makefile creates a directory for output:
data/co-ops-uk/2016-06/generated-data
# data/co-ops-uk/2016-06/generate-triples.rb creates some reports:
data/co-ops-uk/2016-06/duplicates.html
data/co-ops-uk/2016-06/websites.html

# data/co-ops-uk/2016-06/generate-triples.rb creates JSON of initiatives, as temporary measure until SPARQL is in place to return these results:
data/co-ops-uk/2016-06/initiatives.json
ICA/demo/generated-data/
APIs
tests

# Mac OS/X cruft:
.DS_Store

# Ignore local configs
local.conf
